# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
client/node_modules/
server/node_modules/

# Build outputs
client/dist/
client/dist-ssr/

# Env files
*.local
*.env

# Test coverage
coverage/
client/coverage/

# IDE/Editor settings
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
*.lock
